/* Brand Color's */
:root {
    --black: #000000;
    --white: #ffffff;
    --white-gray: #f7f7f7;
    --menu-border: #949494;
    --slider-border: #d9d9d9;
    --haaf-rad: #DB4444;
    --Secondary: #F5F5F5;
    --border-colore: #c2c2c2;
    --green: #0F6;
    --shope-border: #858585;
    --slety: #c1c1c1;
    --footer-gray: #7b7b7b;
}