.music-experience {
    background-color: var(--black);
    padding: 100px;
    width: 100%;
    height: 500px;
    margin-top: 130px;

    .music-experience-left {
        span {
            font-size: 16px;
            color: var(--green);
            font-weight: 600;
        }

        >h2 {
            font-size: 48px;
            color: var(--white);
            font-weight: 600;
            width: 443px;
            padding-top: 25px;
        }

        .timer {
            padding-top: 25px;

            ul {
                padding: 0;

                li {
                    margin: 0 20px 0 0;
                    width: 70px;
                    height: 70px;
                    background-color: var(--white);
                    border-radius: 70px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-size: 16px;
                        color: var(--black);
                        font-weight: 600;
                        margin: 0;
                    }

                    span {
                        font-size: 11px;
                        color: var(--black);
                        font-weight: 400;
                    }
                }
            }

        }

        a {
            margin-top: 25px;
            font-size: 16px;
            color: var(--white);
            font-weight: 500;
            display: inline-flex;
            padding: 16px 48px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Button1, #0F6);
        }
    }


    .music-experience-right {
        img {
            width: 568px;
            height: 330px;
            // background: url(<path-to-image>), lightgray -99.767px -240.854px / 135.847% 234.327% no-repeat;
        }
    }
}