.our-products-heading {
    margin-top: 80px;

    span {
        font-size: 16px;
        color: var(--haaf-rad);
        font-weight: 600;
        margin: 0;
        padding-left: 10px;
    }

    h2 {
        font-size: 36px;
        color: var(--black);
        padding-top: 22px;
        font-weight: 600;
    }

}

.our-products-box-all {

    .our-products-box {
        margin-top: 50px;

        ul {
            padding: 0;

            li {
                margin: 20px 0;

                .our-products-box-image {
                    border-radius: 4px;
                    background: var(--Secondary);
                    width: 100%;
                    height: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        width: 115px;
                        height: 180px;
                    }

                    .camera-image {
                        width: 146px;
                        height: 163px;
                    }

                    .laptop-image {
                        width: 172px;
                        height: 180px;
                    }

                    .product-set-image {
                        width: 172px;
                        height: 159px;
                    }

                    .electric-car-image {
                        width: 180px;
                        height: 133px;
                    }

                    .cleats-shoose {
                        width: 186px;
                        height: 164px;
                    }

                    .gaming-monitor-image {
                        width: 178px;
                        height: 150px;
                    }

                    .jacket-image {
                        width: 182px;
                        height: 176px;
                    }
                }



                .our-products-box-top-right {
                    position: absolute;
                    top: 2px;
                    right: 13px;

                    ol {
                        >li {
                            background-color: var(--white);
                            width: 37px;
                            height: 37px;
                            border-radius: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 10px 0;

                            img {
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }
                }

                h2 {
                    font-size: 16px;
                    color: var(--black);
                    font-weight: 500;
                    padding-top: 20px;
                }

                .our-products-box-rate {

                    span {
                        font-size: 16px;
                        color: var(--haaf-rad);
                        font-weight: 500;
                    }

                    .our-products-box-stars {
                        padding-left: 10px;

                        ol {
                            padding: 0;

                            li {
                                margin: 0 6px 0 0;
                                padding: 0;

                                img {
                                    width: 18px;

                                }

                                span {
                                    padding-left: 10px;
                                    font-size: 14px;
                                    color: var(--menu-border);
                                    font-weight: 600;
                                    padding-top: 6px;
                                }
                            }
                        }
                    }
                }


            }
        }
    }

    .our-products-box-all-buttan {
        text-align: center;
        margin-top: 80px;

        a {
            font-size: 16px;
            color: var(--white);
            font-weight: 500;
            padding: 16px 48px;
            border-radius: 4px;
            background: var(--Button2, #DB4444);
            text-align: center;

        }
    }

}